

.cajas{
    border: 2px solid green;
}


.azul{
    background: #0851b4;
    width: 300px;
    height: 150px;
}

.verde{
    background: #039d21;
    width: 300px;
    height: 150px;
}

.amarillo{
    background: #f0cc03;
    width: 300px;
    height: 150px;
}







